.Suvs {
    display: flex;
    justify-content: space-round;
    align-items: center;
    min-height: 10vh;
    background-color: #808080;
    color:#fff;
    padding: 1rem;
  }
  .suvtag {
    margin-left: 3%;
    border:1px solid #808080;
    border-radius: 10px;
    width:30%;
    align-items: center;
  }